name: build-dotfiles-zsh
on:
  issue_comment:
    types:
      - created
jobs:
  matrix:
    name: prepare-build-matrix
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: generate-matrix
        id: set-matrix
        run: |-
          comment='${{ github.event.comment.body }}'
          k="${comment% *}"
          v="${comment#* }"

          make_matrix() {
            echo '{'
            echo '"arch": ['
            if [ "$k" = 'build' ]; then
              f='false'
              for arch in 'aarch64' 'x86_64'; do
                for os in 'darwin' 'linux'; do
                  if [ "$v" = 'all' ] || [ "$v" = "$arch" ] || [ "$v" = "$os" ] || [ "$v" = "${arch}-${os}" ]; then
                    if "$f"; then echo ','; fi
                    echo "\"${arch}\""
                    f='true'
                  fi
                done
              done
            fi
            echo '],'
            echo '"os": ['
            if [ "$k" = 'build' ]; then
              f='false'
              for arch in 'aarch64' 'x86_64'; do
                for os in 'darwin' 'linux'; do
                  if [ "$v" = 'all' ] || [ "$v" = "$arch" ] || [ "$v" = "$os" ] || [ "$v" = "${arch}-${os}" ]; then
                    if "$f"; then echo ','; fi
                    echo "\"${os}\""
                    f='true'
                  fi
                done
              done
            fi
            echo '],'
            echo '"include": ['
            if [ "$k" = 'build' ]; then
              f='false'
              for arch in 'aarch64' 'x86_64'; do
                for os in 'darwin' 'linux'; do
                  if [ "$v" = 'all' ] || [ "$v" = "$arch" ] || [ "$v" = "$os" ] || [ "$v" = "${arch}-${os}" ]; then
                    if "$f"; then echo ','; fi
                    runner=''
                    case "${arch}-${os}" in
                      'aarch64-darwin') runner='macos-15' ;;
                      'aarch64-linux') runner='ubuntu-24.04-arm' ;;
                      'x86_64-darwin') runner='macos-13' ;;
                      'x86_64-linux') runner='ubuntu-24.04' ;;
                    esac
                    echo "{\"arch\": \"${arch}\", \"os\": \"${os}\", \"runner\": \"${runner}\"}"
                    f='true'
                  fi
                done
              done
            fi
            echo ']'
            echo '}'
          }

          matrix="$(make_matrix | jq '.arch |= unique | .os |= unique')"
          echo "$matrix" | jq .
          echo "matrix=$(echo "$matrix" | jq -c .)" >> "${GITHUB_OUTPUT}"
  build:
    needs: matrix
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.matrix.outputs.matrix) }}
    name: build-${{ matrix.arch }}-${{ matrix.os }}
    runs-on: ${{ matrix.runner }}
    permissions:
      contents: write
    steps:
      - name: generate-token
        uses: actions/create-github-app-token@v2
        id: generate-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
      - name: get-pr-branch
        id: pr
        uses: actions/github-script@v7
        with:
          github-token: ${{ steps.generate-token.outputs.token }}
          script: |
            const prNumber = context.payload.issue.number;
            const { data: pr } = await github.rest.pulls.get({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: prNumber
            });
            core.setOutput('head_ref', pr.head.ref);
      - name: checkout
        uses: actions/checkout@v5.0.0
        with:
          ref: ${{ steps.pr.outputs.head_ref }}
          fetch-depth: 0
      - name: get-job-url
        id: job-url
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
        run: |-
          set -euo pipefail
          jobs_url="${{ github.api_url }}/repos/${{ github.repository }}/actions/runs/${{ github.run_id }}/attempts/${{ github.run_attempt }}/jobs"
          job_name="${{ github.job }}"
          job_id=$(curl -sSf "$jobs_url" \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer $GITHUB_TOKEN" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            | jq --arg job_name 'build-${{ matrix.arch }}-${{ matrix.os }}' '.jobs[] | select(.name == $job_name) | .id')
          echo "Job ID: $job_id"
          echo "url=${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}/job/$job_id" >> "$GITHUB_OUTPUT"
      - name: register-check
        id: check
        uses: LouisBrunner/checks-action@v2.0.0
        with:
          sha: ${{ steps.pr.outputs.head_ref }}
          token: "${{ steps.generate-token.outputs.token }}"
          name: "build-${{ matrix.arch }}-${{ matrix.os }}"
          details_url: "${{ steps.job-url.outputs.url }}"
          status: in_progress
          output: |-
            {
              "name": "Build ${{ matrix.arch }}-${{ matrix.os }}",
              "summary": "Building dotfiles for `build-${{ matrix.arch }}-${{ matrix.os }}`"
            }
      - name: install-nix
        uses: DeterminateSystems/nix-installer-action@v19
        with:
          github-token: ${{ steps.generate-token.outputs.token }}
      - name: configure-nix-darwin
        if: ${{ matrix.os == 'darwin' }} # Only for macOS runners
        working-directory: darwin
        run: |-
          # https://nixos.org/manual/nixpkgs/stable/#sec-darwin-builder
          # Install nix-darwin
          sed -i '' "s/simple/$(scutil --get LocalHostName)/" flake.nix
          sed -i '' "s/\$(whoami)/$(whoami)/" flake.nix
          sed -i '' 's/aarch64/${{ matrix.arch }}/' flake.nix
          sudo mv /etc/nix/nix.conf /etc/nix/nix.conf.before-nix-darwin
          sudo mv /etc/nix/nix.custom.conf /etc/nix/nix.custom.conf.before-nix-darwin
          sudo nix --extra-experimental-features "nix-command flakes" \
            --option access-tokens 'github.com=${{ steps.generate-token.outputs.token }}' \
            run nix-darwin -- switch --flake .

          # Print builders
          echo '>>> Builders:'
          cat /etc/nix/machines

          # Explicitly configure the linux-builder in nix.conf
          mkdir -p ~/.config/nix
          echo '>>> Nix conf:'
          cat << EOF | tee ~/.config/nix/nix.conf
          builders = ssh-ng://builder@linux-builder ${{ matrix.arch }}-linux /etc/nix/builder_ed25519 1 1 kvm,benchmark,big-parallel - c3NoLWVkMjU1MTkgQUFBQUMzTnphQzFsWkRJMU5URTVBQUFBSUpCV2N4Yi9CbGFxdDFhdU90RStGOFFVV3JVb3RpQzVxQkorVXVFV2RWQ2Igcm9vdEBuaXhvcwo=
          builders-use-substitutes = true
          trusted-users = root $(whoami)
          EOF

          # Ensure permissions on ssh key are correct
          sudo chmod 600 /etc/nix/builder_ed25519

          # Add linux-builder to /etc/hosts
          echo '>>> Update /etc/hosts'
          echo '127.0.0.1 linux-builder' | sudo tee /etc/hosts

          # Pre-accept linux-builder SSH host key
          echo '>>> Add builder to known hosts:'
          sudo ssh-keyscan -v -t ed25519 -p 31022 linux-builder | sudo tee /etc/ssh/ssh_known_hosts

          # Allow Nix to connect to remote builder on port 31022
          echo '>>> Edit ssh_config.d:'
          sudo mkdir -p /etc/ssh/ssh_config.d
          cat << EOF | sudo tee /etc/ssh/ssh_config.d/100-linux-builder.conf
          Host linux-builder
            Hostname 127.0.0.1
            HostKeyAlias linux-builder
            User builder
            Port 31022
            IdentityFile /etc/nix/builder_ed25519
            StrictHostKeyChecking no
            UserKnownHostsFile /etc/ssh/ssh_known_hosts
          EOF

          # Restart the ssh daemon
          sudo launchctl kickstart -k system/com.openssh.sshd &&
            echo 'Successfully restarted sshd'

          # Restart Nix daemon
          sudo launchctl kickstart -k system/org.nixos.nix-daemon &&
            echo 'Successfully restarted nix daemon'

          # Verify linux-builder is running
          echo '>>> org.nixos.linux-builder:'
          sudo launchctl list org.nixos.linux-builder

          # Print linux-builder logs
          echo '>>> Linux Builder logs:'
          cat /var/log/darwin-builder.log
      - name: verify-nix-config
        if: ${{ matrix.os == 'darwin' }}
        run: |-
          nix show-config system-features | grep "apple-virt nixos-test"
      - name: build-dotfiles
        id: build
        run: |-
          rm -rf dotfiles
          mkdir dotfiles
          nix \
            --option access-tokens 'github.com=${{ steps.generate-token.outputs.token }}' \
            build .#packages.${{ matrix.arch }}-${{ matrix.os }}.m3l6h-zsh-build-dotfiles -v -L
          ls result
          ./result/bin/nixos-test-driver
      - name: sanitize-dotfiles
        run: |-
          chmod +x scripts/sanitize-dotfiles.sh
          ./scripts/sanitize-dotfiles.sh dotfiles

          echo "DATE=$(date -u +%Y-%m-%dT%H:%M:%SZ)" >> "$GITHUB_ENV"
      - name: import-gpg-key
        id: import-gpg
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true
      - name: git-pull
        id: pull
        run: |-
          git pull
          echo "sha=$(git rev-parse HEAD)" >> "$GITHUB_OUTPUT"
      - name: commit-changes
        id: commit
        uses: stefanzweifel/git-auto-commit-action@v6
        with:
          commit_message: "build(dotfiles): ${{ matrix.arch }}-${{ matrix.os }} - ${{ env.DATE }}"
          commit_author: "${{ steps.import-gpg.outputs.name }} <${{ steps.import-gpg.outputs.email }}>"
          commit_user_name: ${{ steps.import-gpg.outputs.name }}
          commit_user_email: ${{ steps.import-gpg.outputs.email }}
      - name: update-check
        if: always()
        uses: LouisBrunner/checks-action@v2.0.0
        with:
          sha: "${{ steps.commit.outputs.changes_detected && steps.commit.outputs.commit_hash || steps.pull.outputs.sha }}"
          token: "${{ steps.generate-token.outputs.token }}"
          check_id: "${{ steps.check.outputs.check_id }}"
          conclusion: ${{ job.status }}
          details_url: "${{ steps.job-url.outputs.url }}"
          output: |-
            {
              "name": "Build ${{ matrix.arch }}-${{ matrix.os }}",
              "summary": "Finished building dotfiles for `build-${{ matrix.arch }}-${{ matrix.os }}`:\n- ${{ steps.steps.build.conclusion == 'success' && '✅' || '❌' }} build\n- ${{ steps.steps.commit.conclusion == 'success' && '✅' || '❌' }} commit"
            }
